SECRET_KEY=troque_essa_secret_key
JWT_SECRET_KEY=troque_essa_jwt_secret_key
SQLALCHEMY_DATABASE_URI=mysql+pymysql://clinico:troque_essa_senha@127.0.0.1:3306/sistema_clinico_mvp

FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1

FIREBIRD_HOST=ip_ou_host_do_firebird
FIREBIRD_PORT=3050
FIREBIRD_DATABASE=/caminho/para/o/banco.fdb
FIREBIRD_USER=SYSDBA
FIREBIRD_PASSWORD=senha_firebird
FIREBIRD_CHARSET=WIN1252

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

SQLSERVER_HOST=ip_ou_host_sqlserver
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=master
SQLSERVER_USER=usuario_sqlserver_leitura
SQLSERVER_PASSWORD=senha_sqlserver
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_ENCRYPT=yes
SQLSERVER_TRUST_CERTIFICATE=yes
SQLSERVER_TIMEOUT=10
